.notes-list {  

  display: table;
  width: 100%;
  
  > div {
    display: table-cell;
  }
  
  div.side {
    width: 400px;
    padding: 0 5px;
  }

  .panel {
    position: relative;
  }

  .animated {
    overflow: hidden;
    &.ng-leave {
      transition:0.3s;
      .panel {
        transform-origin: top;
        animation:0.5s leave_animation;
      }
    }
  }
}


@keyframes leave_animation {
  from {
    left: 0;
    opacity: 1;
    max-height: 90px;
  }
  to {
    left: -100px;
    opacity: 0;
    max-height: 0;
  }
}
