.notes-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "content sidebar";
  div.list {
    grid-area: content;
  }
  div.side {
    grid-area: sidebar;
  }
}
