<div class="panel panel-default">
  <div class="panel-heading">
    <input type="checkbox" ng-model=" $ctrl.note.$$selected ">
    <b>{{ $ctrl.note.label }}</b>
    <div class="pull-right">
      {{ $ctrl.note.time | time }}
      <button class="btn btn-primary btn-xs" ng-click=" $ctrl.goToDetail() "><i class="fa fa-edit"></i></button>
      <button class="btn btn-danger btn-xs" ng-click=" $ctrl.remove() "><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="panel-body">{{ $ctrl.note.text }}</div>
</div>